body{
    font-family: "Inter", sans-serif;       
    font-weight: normal;
    background: #1C1C1C;
}
.container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
}
.main-section{
       background: #6943FF;
       color: white;
       width: 500px;
       text-align: center;

}
.copyright {
    font-size: 0.8em;
    text-align: center;
    color: white
}

.copyright a {
    color: white
}

.copyright a:hover {
    color: lightgreen
}
h1{
        color: whitesmoke;
        font-size: 24px;
        text-align: center;
        line-height: 60px;
        margin-bottom: 0;
}
input{
        background: transparent;
        border: solid 2px #B295FF;
        border-radius: 5px;
        box-sizing: border-box;
        font-weight: 800;
        font-size: 58px;
        color: whitesmoke;
        width: 120px;
        margin-bottom: 20px;
}
.btn-section{
    margin-top: 10px;
    margin-bottom: 20px;
}
button{
    padding: 10px 22px;
    margin: 5px;
    background: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.convert-section{
    background: #F4F4F4;
    width: 500px;
    height: 430px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.conversion-el{
    margin:30px 20px;
    padding: 20px;
    background: #FFFFFF;
    text-align: center;

}
.conversion-el h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-top: 0;
    color: #5A537B;
    font-weight: 500;

}

.conversion-el p {
    color: #353535;
}